html {
  background-color: green;
  font-size: 20px;
}

h1{
  text-align: center;
  color: white;
}

ul {
  background: red;
  padding: 10px;
  border: 1px solid black;
}

li {
  margin-left: 20px;
}
